.nav-link {
  border-left: 4px solid transparent; /* Color azul de Bootstrap */
  border-radius: 0 4px 4px 0; /* Bordes redondeados solo a la derecha */

}.nav-link.active {
  border-left: 4px solid #0d6efd; /* Color azul de Bootstrap */
  background-color: rgba(13, 110, 253, 0.1); /* Opcional: fondo suave */
}
.nav-link {
  transition: border-left 0.2s, background-color 0.2s;
}